body {
  font-family: Arial, sans-serif;
  background-color: #1e1f1e;
  color: #e6e6e6;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: #e9ec1b;
}
h2 {
  font-style: italic;
  color: #0d910d;
}

li {
  margin-bottom: 5px;
  font-style: italic;
}
.task-image {
  float: left;
  padding-right: 10px;
}
.task-explanation {
  text-align: justify;
}
.task {
  font-weight: 700;
  font-size: 18px;
  clear: both;
}
form::after {
    content: " - Нажимать много раз на 'зачислить' ХАРАМ!";
}
.stringEnter {
  width: 500px;
  height: 40px;
  background: linear-gradient(45deg, #73e073, #a2e6a0);
  text-indent: 10px;
  color: black;
  font-weight: 700;
  font-size: 16px;
}
.stringEnter::-webkit-input-placeholder {
  font-weight: 400;
  color: #363636;
  opacity: 1;
}
.but {
  margin: 2px 2px 2px 0px;
  padding: 5px;
  border: green 2px ridge;
  background: linear-gradient(45deg, #73e073, #a2e6a0);
  font-weight: 700;
}
.but:active {
  box-shadow: inset 0px 0px 0px 1px black;
}

span.blue{
    color: #a2abdc;
}
span.orange {
    color: #cb7e4d;
}
span.violet{
    color: #ba6be0;
}
